*
{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html, body
{
    height: 100%;
}
.navbar
{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    background-color: rgb(166, 196, 253);
    z-index: 50;
}
/*.navbar::before
{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(166, 196, 253);
    z-index: 4;
}*/
.conteiner
{
max-width: 1180px;
margin: 0 auto;
padding: 0 10px;
}
.burger
{display: none;}
/* Logo */
.logo-conteiner
{
    position: relative;
    z-index: 4;
    width: 150px;
    height: 50px;
    background-color: rgb(25, 0, 255);
    grid-column: 1;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
}

.logo-conteiner img
{
    max-height: 100%;
    width: 50px;
    border-radius: 50%;
}

.logo-conteiner p
{
    color: seashell;
    font-size: 24px;
    line-height: 1.5em;
    margin-top: 5px;
}



/* menu */
.menu
{
    display: flex;
    grid-column: 4;
    justify-content: end;
    padding-top: 13px;
    justify-content: space-around;
    position: relative;
    z-index: 4;
}
.menu li
{
    list-style: none;
    position: relative;
}
a
{
    text-decoration: none;
}
a .parent
{
    margin: 0 30px 0 0;
}
.submenu
{
    position: absolute;
    left: 0;
    top: 15px;
    padding: 5px;
    display: none;
    transition: 1s;
    background-color:  rgb(166, 196, 253);
    width: 100%;
}
.submenu li
{
    line-height: 2em;
}
.arrow
{
    display: none;
    position: absolute;
    left: 80px;
    right: 0;
    top: 6px;
    width: 0;
    height: 0;
    border-top: 10px solid rgb(0, 0, 0);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.burger.active
{
    transform: rotate(90deg) translateY(40px);
    transition: all 0.3s;
}
body.mouse .menu li a:hover
{
    color: red;
    text-decoration: underline;
}

body.mouse .menu li:hover .submenu
{
    display: block;
}

body.touch .submenu.open
{
    display: block;
}
body.touch .arrow
{
    display: block;
}
.arrow.active
{
    transform: rotate(180deg);
    transition: all 0.3s;
}

@media (max-width:767px){
    .menu
    {
        display: block;
        top: -200%;
        grid-row: 2;
        grid-column: 1/3;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background-color: rgb(166, 196, 253);
        line-height: 3em;
        
    }
    .menu.active
    {
        top: 60px;
        transition: 0.5s;
    }
    .menu li
    {
        margin: 0 0 20px 20px;
    }
    .submenu
    {
        position: relative;
        left: 0;
        top: 0;
    }
    .logo-conteiner
    {
        grid-column: 1/2;
    }
    .navbar
    {
        display: grid;
        grid-template-rows: 10% auto;
        justify-content:space-between;
        position: fixed;
        height: 50px;
        width: 100%;
        left: 0;
    }
    .navbar.active
    {
        height: 100%;
        overflow: auto;
    }
    .burger
    {
        float: right;
        grid-column: 2/3;
        margin: 10px;
        display: block;
        position: relative;
        width: 8px;
        height: 30px;
        z-index: 4;
        transition: all 0.3s;
    }
    .burger::before,.burger::after
    {
        content: "";
        position: absolute;
        width: 100%;
        height: 8px;
        background-color: rgb(177, 177, 177);
        left: 0;
        border-radius: 50%;
    }
    .burger::before
    {
        top: 0;
    }
    .burger::after
    {
        bottom: 0;
    }
    .burger span
    {
        content: "";
        position: absolute;
        width: 100%;
        height: 8px;
        background-color: rgb(177, 177, 177);
        left: 0;
        top: 11px;
        border-radius: 50%;
    }
    .content_text
{padding-top: 0px;
margin-top: -90px;}
body.lock
{overflow: hidden;}
}

/*Content*/
.content_text p
{
    line-height: 2em;
    font-size: 18px;
    margin-top: 20px;
}
.content_text
{padding-top: 160px;}